*{
    margin: 0px;
    padding: 0px;
    font-family: cursive;
  }

#page-container{
  position: absolute;
  background-image: url('cordeiro.jpg');
  background-position: center center;
  background-size: cover;
  width: 100%;
  min-height: 100%;
  background-repeat: no-repeat;
}
  
  header {
    color: black;
    background: linear-gradient(135deg, rgb(182, 247, 247) 0%, #009696 100%);
    background-size: cover;
    padding: 10px 10px 0px 10%;
    height: 110px;
  }

#logo {
  width: 200px;
  height: 100px;
  float: left;
}

#menu{
  margin-top: 15px;
}

#menu a{
  text-decoration: none;
  color: whitesmoke;
  text-shadow: 2px 2px 2px black;
  font-size: 20px;
  padding: 0 10px;
}

#menu a:hover{
  background-color: #009696;
  color: black;
  padding: 8px 8px;
  text-shadow: 2px 2px 2px white;
  border-radius: 15px;
  -webkit-transition: 0.5s;
}

#linha{
  height: 10px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}

#menutop{
  float: right;
  padding: 35px;
}

#menutop a{
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 0 20px;
}

#menutop a:hover { /*propriedade de sobreposição (o que acontece ao colocar o mouse sobre "menu a" */
  color: #009696;
  background-color: black;
  padding: 48px 20px;
  -webkit-transition: 0.5s;
}
  
  #principal {
    clear: both;

  }

  .efeito{
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  footer{
    min-height: 30px;
    background: linear-gradient(135deg, rgb(182, 247, 247) 0%, #009696 100%);
    text-align: left;
    padding: 15px 0px 15px 10%;
    font-size: 30px;
  }

#footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 90%;
}

  .container_imagem{
    width: 100%;
    margin: auto;
  }
  
  .container{
    width: 100%;
    margin: auto;
  }
  
  h1 {
    font-style: bold;/* sequência é: margin, border, paddding e content */
    color: white;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    padding: 50px;
    font-size: 70px;/*largura:width altura: height*/
  }                  /*1º elemento é bot e top, 2º esqueda e dir.
  se declarar 4 é sentido horário: top, right, bot, left */

h2 {
  text-shadow: 2px 2px 2px black;
}
  body {
    background-color: white; /* 2primeiros: red, depois blue, depois green */
  }                          /* pesquisar tabela de cores hexadecimal */

#esquerda{
  float: left;
  color: white;
  font-size: 30px;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 10px 5px 10%;
  width: 52%;
  min-height: 400px;
  position: relative;
}

#direita{
  text-align: center;
  float: right;    
  color: white;
  font-size: 30px;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 10px 5px 10px;
  width: 33%;
  min-height: 400px;
  position: relative;
}

#baixo{    
  color: white;
  font-size: 30px;
  background: rgba(207, 0, 0, 0.5);
  padding: 10px 10px 5px 10%;
  width: 100%;
  min-height: 200px;
}

.imagens{
  float: center;
  padding: 10px 0 10px 0;
  width: 50%;
  height: 50%;
}